*.o
*.lo
*.la
*.al
.libs
*.so
.so.[0-9]
*.a
*.pyc
*.pyo
*.rej
*~
#*#
.#*
.*.swp
.DS_Store
*.suo
*.pdb
*.user
*.bak
*.Cache
*.cache
obj
bin
Bin
ClientBin
TestResults
PublishWeb
Settings.SourceAnalysis
Settings.StyleCop
*.Publish.xml
*.vs10x
*.nupkg
.vs
packages
MemberPicture
