<form action="@Url.Action("Login")" method="post">
    <label>帳號</label>
    <input type="text" name="Account">
    <label>密碼</label>
    <input type="text" name="Password">
    <button type="submit">登入</Button>
</form>