@model IEnumerable<LogMS.Domain.Model.Interface.IMenuDTO>
@{
    IEnumerable<LogMS.Domain.Model.Interface.IMenuDTO> allmenus = ViewBag.AllMenus;
    IEnumerable<LogMS.Domain.Model.Interface.IMenuDTO> currentmenus = ViewBag.CurrentMenus;
}
<ul>
    @foreach (var menu in Model)
    {
        <li class="has_sub">
            <a href="@(string.IsNullOrEmpty(menu.Url) ? "javascript:void(0);" : menu.Url)" class="waves-effect"><i class="ti-home"></i><span>@menu.Name</span> <span class="menu-arrow"></span></a>
            @if (allmenus.Any(x => x.ParentId == menu.Id))
            {
                @await Html.PartialAsync("MenuList", allmenus.Where(x => x.ParentId == menu.Id));
            }
        </li>
    }
</ul>